---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Page">
  <h1 class="text-3xl font-semibold">About Page</h1>
  <p class="mt-4 text-base text-neutral-400">
    This webpage is dedicated to showcasing the rich history of SpaceX launches.
    As a work in progress, it is being meticulously crafted with Astro, while
    adhering to the insightful guidance provided by <a
      href="https://www.youtube.com/watch?v=RB5tR_nqUEw"
      class="text-blue-500">midudev</a
    >.
  </p>
</Layout>
